[Desktop Entry]
Name=cardinal
Comment=Lightweight Linux container runtime
Exec=cardinal
Icon=cardinal
Type=Application
Categories=Development;System;
Terminal=true
